// basic
body {
  background: #A4978E;
}

// nav
nav {
  background-color: #040C0E;
  .container {
    .navbar-brand {
      color: #BE9063;
    }
    .navbar-brand:hover {
      color: #fff;
    }
    .collapse {
      ul {
        .nav-item {
          .nav-link {
            color: #BE9063;
          }
          .nav-link:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

// index
#section_movies_index {
  .row {
    .col-md-12 {
      .jumbotron {
        background-color: #BE9063;
        padding: 35px;
      }
    }
  }
  .col-md-4 {
    .card-deck {
      .no_under_line {
        text-decoration: none;
        .card {
          .card-body {
            padding-bottom: 0px;
            padding-top: 0px;
            h5 {
              margin-top: 7px;
              margin-bottom: 7px;
              color: #000;
            }
          }
        }
        .card:hover {
          box-shadow: 0 0 3px 3px #4D1F00;
        }
      }
    }
  }
}

// show
#section_movie_show {
  .row {
    .col-md-12 {
      .row {
        background-color: white;
        border-radius: 10px;
        padding: 25px 25px 25px 25px;
        .col-md-7 {
          hr {
            margin-top: 3px;
            margin-bottom: 3px;
          }
          p {
            margin-bottom: 5px;
            em {
              font-size: 10px;
            }
          }
          h6 {
            margin-bottom: 1px;
          }
        }
      }
    }
    .links {
      margin-top: 5px;
      margin-bottom: 5px;
      .color-word {
        color: #040C0E;
        text-decoration: none;
      }
      .color-word:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

// form
#section_movie_form {
  .row {
    .col-md-10 {
      background-color: white;
      border-radius: 10px;
      padding: 25px 25px 10px 25px;
      .form-group {
        .form-control, .custom-file-label {
          background-color: #FAF0E6;
        }
      }
    }
  }
}

// user
#section_sign_up, #section_log_in {
  .row {
    .col-md-6 {
      background-color: white;
      border-radius: 10px;
      padding: 25px;
      margin-top: 40px;
      .form-control {
        background-color: #FAF0E6;
      }
    }
  }
}